<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="desciption" content="En Laboratorio de Análisis Clinicos estamos cerca tuyo siempre que nos necesites para brindarte una atención personalizada, de manera simple y con resultados rápidos, nuestras sedes se encuentran en la ciudad de Marcos Juárez y Genral Roca, Córdoba.">
		<meta name="keywords"  content="laboratorio, laboratorio clinico, laboratorio de analisis clinicos, analisis clinicos, laboratorio central, 
		laboratori, laboratorios cerca de mi, pruebas de laboratorio, laboratorio centro medico, prueba de embarazo en sangre laboratorios, prueba de embarazo,
		laboratorio a domicilio, pcr laboratorio, examen de tiroides precio, prueba molecular a domicilio, pruebas moleculares a domicilio,
		precios de exámenes de laboratorio, laboratorio de sangre, muestras de laboratorio,
		laboratorio 24 horas, examen de glucosa precio, exámenes de sangre, laboratorios medicos, laboratorios clinicos, laboratorio analisis clinicos,
		examenes de sangre a domicilio, centro de analisis clinicos, analisis de sangre a domicilio, laboratorios economicos, laboratorio marcos juárez
		">
		<meta property="og:title" content="Laboratorio de Análisis Clínicos | Marcos Juárez" >
		<meta property=”og:site_name” content="Laboratorio de Análisis Clínicos | Marcos Juárez">
		<meta property="og:url" content="http://laboratorio.net.ar/">
		 <meta property="og:description" content="En Laboratorio de Análisis Clinicos estamos cerca tuyo siempre que nos necesites para brindarte una atención personalizada, de manera simple y con resultados rápidos, nuestras sedes se encuentran en la ciudad de Marcos Juárez y Genral Roca, Córdoba.">
		<meta name="robots" content= "index, follow">
		<meta name="author" content="Octavio Trusendi" />
		<meta name="copyright" content="Laboratorio de Análisis Clínicos | Marcos Juárez" />
		<link rel="shortcut icon" href="../img/favicon.ico">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c95374d5c5.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="../assets/style.css">
		<title>Autorizaciones</title>
	</head>
	<body class="grid_contenedor" id="body">
		<header class="grid_encabezado">
			<nav class="encabezado__style">
				<div class="encabezado__logo">
						<a href="../index.html">
						<img src="../img/logo.png" alt="Laboratorio analisis clinicos"  title= "Laboratorio de Análisis Clínicos">
					</a>
				</div>
				<div class="encabezado__titulo">	
				<h1	class=>LABORATORIO DE<br>ANÁLISIS CLÍNICOS</h1>
				</div>	
				<div class="caja_menu" >
					<div class="icono__menuresposive">
						                    <input type="checkbox" id="toggle">
                    <label for="toggle" id="btn_open">
					</div>
					<ul class="menu">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="../views/quienes_somos.html">Conocenos</a></li>
						<li><a href="#">Servicios<i class="fas fa-chevron-down"></i></a>	
							<ul class="submenu">
								<li><a href="../views/turnos.html">Turnos</a></li>
								<li><a href="../views/resultados_online.html">Resultados Online</a></li>
								<li><a href="../views/extracciones_domicilio.html">Extracciones a domicilio</a></li>
								<li><a href="../views/autorizaciones_online.html">Autorizaciones Online</a></li>
							</ul>
						</li>	
						<li><a href="../views/obras_sociales.html">Obras Sociales</a></li>
						<li><a href="../views/indicaciones_previas.html">Indicaciones Previas</a></li>
						<li><a href="../views/contacto.html">Contacto</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="menu__side" id="menu_side">
			<div class="options__menu">	
				<a href="../index.html" class="selected">
					<div class="option">
						<h4>Inicio</h4>
					</div>
				</a>
				<a href="../views/quienes_somos.html">
					<div class="option">
						<h4>Conocenos</h4>
					</div>
				</a>
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header option " id="flush-headingMenu">
							<button class="acorddion collapsed accordion-button_menu" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMenu" aria-expanded="false" aria-controls="flush-collapseMenu">
							Servicios <i class="fas fa-chevron-down"></i>
							</button>
						</h2>
						<div id="flush-collapseMenu" class="accordion-collapse collapse" aria-labelledby="flush-headingMenu" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
							<a href="../views/turnos.html">
								<div class="option">
									<h4>Turnos</h4>
								</div>
							</a>
							<a href="../views/resultados_online.html">
								<div class="option">
									<h4>Resultados Online</h4>
								</div>
							</a>
							<a href="../views/extracciones_domicilio.html">
								<div class="option">
									<h4>Extracciones a domicilio </h4>
								</div>
							</a>
							<a href="../views/autorizaciones_online.html">
								<div class="option">
									<h4>Autorizaciones Online</h4>
								</div>
							</a>
							</div>
						</div>
					</div>
				</div>
				<a href="../views/obras_sociales.html">
					<div class="option">
						<h4>Obras Sociales</h4>
					</div>
				</a>
				<a href="../views/indicaciones_previas.html">
					<div class="option">
						<h4>Indicaciones Previas </h4>
					</div>
				</a>
				<a href="../views/contacto.html">
					<div class="option">
						<h4>Contacto</h4>
					</div>
				</a>
			</div>
		</div>

		<!-- Imagen -->
		<div id="imagen" class="grid_imagen imagen__turnos">
			<div class="imagen__flex">
				<div class="item__flex">
					<a href="#bajar1"><h2 class="imagen__titulo">Autorizaciones<i class="fas fa-chevron-down"></i></h2></a>
				</div>
				</div>
			</div>
		</div>

			
 <!------Seccion 1)------> 
	<div id="bajar1"  class="grid_seccion1">
		<div class="contenedor">
			<div class="titulo_h2">
				<h2>En Laboratorio de Análisis Clínicos queremos simplificar tus gestiones.  </h2>
			</div>
			<div class="extracto">
			<p> Para eso activamos este canal a través del cual vas a poder gestionar tus autorizaciones desde la comodidad de tu casa.</p>
			</div>
		</div>
	</div>
   <!------Seccion 2)------> 
	<div class="grid_seccion2">
		<div class="contenedor contenedor__reverse contenedor__flex">
			<form action="enviar.php" method="POST"	enctype="multipart/form-data" class="contenedor__formulario ">
				<div class="row">
					<div class="form-floating form-floating-sm mb-3 col-md-6">
						<input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="nombre" required="">
						<label for="floatingInput">Nombre Completo *</label>
					  </div>
					  <div class="form-floating mb-3 col-md-6">
						<input type="text" class="form-control " id="floatingInput" placeholder="apellido" required="">
						<label for="floatingInput">Apellido *</label>
					  </div>
					  <div class="form-floating mb-3 col-md-6">
						<input type="number" class="form-control " id="floatingInput" placeholder="dni" required="">
						<label for="floatingInput">DNI *</label>
					  </div>
					  <div class="form-floating mb-3 col-md-6">
						<input type="tel" class="form-control " id="floatingInput" placeholder="tel" required="">
						<label for="floatingInput">Teléfono *</label>
					  </div>
					  <div class="form-floating mb-3 col-md-12">
						<input type="email" class="form-control " id="floatingInput" placeholder="email" required="">
						<label for="floatingInput">e-mail *</label>
					  </div>

						<div class="seccion__form">
							<p>Adjunte una foto de su orden médica. </p>
						</div>
						<div class="mb-3 col-md-12"">
							<input type="file" class="form-control" aria-label="file example" required multiple>
						  </div>
						  <div class="seccion__form">
							<p>Adjunte una foto de su Carnet de Obra social. </p>
						</div>
						<div class="mb-3 col-md-12"">
							<input type="file" class="form-control" aria-label="file example" required multiple>
						  </div>
						
						<div class="mb-3">
							<button class="btn btn-outline-secondary textVerde input__boton" type="submit" >Enviar</button>
						  </div>
					</div>
				</form>	
				<div class="detalle__seccion2 fondoVerde">
					<div class="detalle__item-list">
					<ol class="dalle__extracto">
						<li>Completá los datos solicitados.</li>
						<li>Escaneá o toma una foto, legible, de tu orden médica y carnet de tu Obra Social, y adjuntala.</li>
						<li>A la brevedad nos comunicaremos con vos para otorgarte un turno. </li>
					</ol>
				</div>
			</div>
		</div>	
	</div>
        <!-- Donde estamos -->
		<div class="grid_seccion3 ">
			<div class="grid_dondeEstamos ">
				<div class=" contenedor contenedor__2">
					<div class="titulo_h2">
						<h2>¿Dónde nos podes encontrar?</h2>
					</div>
					   <div class="contacto_flex">    
							<div class="contacto_direccion">
								<h3>Av. Alem 794</h3>
								<hr>
								<p>Marcos Juárez</p>
							</div>
							<div class="contacto_direccion">
								<h3>Avellaneda 750</h3>
								<hr>
								<p>Gral. Roca</p>
							</div>
						</div>    
						<div class="contacto_iconos">
							<div class="contacto__iconos-boder">
							<a href="https://www.facebook.com/laboratorio.mj" target="_BLANK"><i class="fab fa-facebook"></i></a>
							</div>
							<div class="contacto__iconos-boder">
							<a href="https://www.instagram.com/laboratorio.mj/"target="_BLANK"> <i class="fab fa-instagram"></i></a>
							</div>
						   <div class="contacto__iconos-boder" data-aos="fade-up"
						   data-aos-duration="1000">
							<a href="https://api.whatsapp.com/send?phone=5493472583305"target="_BLANK"><i class="fab fa-whatsapp"></i></a>
							</div>
						</div>
			
				</div>
			 </div>
			 <!-- Mapas -->
			 <div class="grid_mapa1 ">
				<div class="contenedor__mapa" data-aos="fade-up"
				data-aos-duration="1000">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.604619393057!2d-62.10382938102397!3d-32.68936047906735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c97f3e9bddaa0f%3A0x7f5e74f994046a69!2sLaboratorio%20Bottallo%20Olmos!5e0!3m2!1ses!2sar!4v1622386836367!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="mapa1"></iframe>
				</div>
			</div>
			<div class="grid_mapa2 ">
				<div class="contenedor__mapa" data-aos="fade-up"
				data-aos-duration="1000">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3356.3262934705012!2d-61.91515258526155!3d-32.73052546830953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c985264507a49f%3A0x8c3d0544d48e187b!2sLaboratorio%20de%20An%C3%A1lisis%20Cl%C3%ADnicos!5e0!3m2!1ses-419!2sar!4v1625161859457!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="mapa2"></iframe>        
				</div>
			</div>
			<!-- Footer -->
			<footer class="grid_footer ">
				<hr class="hr"> 
				<div class="pieDePagina">  
					<h3>Todos los derechos reservados © 2021</h3>
					<div class="pieDePagina__icon">
					<a href="#imagen"><i class="fas fa-chevron-circle-up"></i></a>
					</div>
				</div>
			</footer>
			</div>
			<script src="../js/scrip.js"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

</body>
</html>