<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="En Laboratorio de Análisis Clinicos estamos cerca tuyo siempre que nos necesites para brindarte una atención personalizada, de manera simple y con resultados rápidos, nuestras sedes se encuentran en la ciudad de Marcos Juárez y General Roca, Córdoba.">
		<meta name="keywords"  content="laboratorio, laboratorio clinico, laboratorio de analisis clinicos, analisis clinicos, laboratorio central, 
		laboratori, laboratorios cerca de mi, pruebas de laboratorio, laboratorio centro medico, prueba de embarazo en sangre laboratorios, prueba de embarazo,
		laboratorio a domicilio, pcr laboratorio, examen de tiroides precio, prueba molecular a domicilio, pruebas moleculares a domicilio,
		precios de exámenes de laboratorio, laboratorio de sangre, muestras de laboratorio,
		laboratorio 24 horas, examen de glucosa precio, exámenes de sangre, laboratorios medicos, laboratorios clinicos, laboratorio analisis clinicos,
		examenes de sangre a domicilio, centro de analisis clinicos, analisis de sangre a domicilio, laboratorios economicos, laboratorio marcos juárez
		">
		<link rel="shortcut icon" href="https://laboratorio.net.ar/img/iconified/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="https://laboratorio.net.ar/img/iconified/apple-touch-icon-180x180.png" />
		<link rel="icon" type="image/png" sizes="32x32" HREF="https://laboratorio.net.ar/img/iconified/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="36x36" HREF="https://laboratorio.net.ar/img/iconified/android-icon-36x36.png">
		<link rel="icon" type="image/png" sizes="48x48" HREF="https://laboratorio.net.ar/img/iconified/android-icon-48x48.png">
		<link rel="icon" type="image/png" sizes="72x72" HREF="https://laboratorio.net.ar/img/iconified/android-icon-72x72.png">
		<link rel="icon" type="image/png" sizes="96x96" HREF="https://laboratorio.net.ar/img/iconified/android-icon-96x96.png>
		<link rel="icon" type="image/png" sizes="144x144" HREF="https://laboratorio.net.ar/img/iconified/android-icon-144x144.png">
		<link rel="icon" type="image/png" sizes="192x192" HREF="https://laboratorio.net.ar/img/iconified/android-icon-192x192.png>
		<link rel="icon" type="image/png" sizes="16x16" HREF="https://laboratorio.net.ar/img/iconified/favicon-16x16.png">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Laboratorio de Análisis Clínicos | Marcos Juárez" >
		<meta property=”og:site_name” content="Laboratorio de Análisis Clínicos | Marcos Juárez">
		<meta property="og:url" content="https://laboratorio.net.ar/
">
		 <meta property="og:description" content="En Laboratorio de Análisis Clinicos estamos cerca tuyo siempre que nos necesites para brindarte una atención personalizada, de manera simple y con resultados rápidos, nuestras sedes se encuentran en la ciudad de Marcos Juárez y General Roca, Córdoba.">
		<meta name="robots" content= "index, follow">
		<meta name="author" content="Octavio Trusendi" />
		<meta name="copyright" content="Laboratorio de Análisis Clínicos | Marcos Juárez" />
	    <meta name="geo.region" content="AR-C">
   		<meta name="geo.placename" content="Marcos Juárez">
    	<meta name="geo.position" content="-32.6890385;-62.1038575">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c95374d5c5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="../assets/style.css">
		<title>Resultados Online</title>
	</head>
	<body class="grid_contenedor" id="body">
		<header class="grid_encabezado">
        <nav id="nav" class="encabezado__style">
				<div class="encabezado__logo">
						<a href="../index.html">
                        <picture>
                            <source srcset="../img/logo.webp" type="image/webp">
                            <source srcset="../img/logo.png" type="image/png">
                            <img class="animate__animated animate__fadeInDown" src="../img/logo.png" alt="Laboratorio analisis clinicos"  title= "Laboratorio de Análisis Clínicos">
                        </picture>



					</a>
				</div>
				<div class="encabezado__titulo">	
                    <h1 class="titulo ">
                    <span class="typed"></span>
                    </h1> 
                <div class="titulo" id="cadenas-texto">
                    <h1>Laboratorio de<br>Análisis Clínicos</h1>
                </div>
            </div>	
							<div class="caja_menu animate__animated animate__fadeInDown" >
					<div class="icono__menuresposive">
						<input type="checkbox" id="toggle">
						<label for="toggle" id="btn_open">				
					</div>
					<ul class="menu">
						<li><a href="../index.html">Inicio</a></li>
						<li><a href="../views/quienes_somos.html">Conocenos</a></li>
						<li><a href="#">Servicios<i class="fas fa-chevron-down"></i></a>	
							<ul class="submenu">
								<li><a href="../views/turnos.html">Turnos</a></li>
								<li><a href="../views/resultados_online.html">Resultados Online</a></li>
								<li><a href="../views/extracciones_domicilio.html">Extracciones a domicilio</a></li>
								<li><a href="../views/autorizaciones_online.html">Autorizaciones Online</a></li>
							</ul>
						</li>	
						<li><a href="../views/obras_sociales.html">Obras Sociales</a></li>
						<li><a href="../views/indicaciones_previas.html">Indicaciones Previas</a></li>
						<li><a href="../views/contacto.html">Contacto</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="menu__side" id="menu_side">
			<div class="options__menu">	
				<a href="../index.html" class="selected">
					<div class="option">
						<h3>
Inicio</h3>

					</div>
				</a>
				<a href="../views/quienes_somos.html">
					<div class="option">
						<h3>
Conocenos</h3>

					</div>
				</a>
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header option " id="flush-headingMenu">
							<button class="acorddion collapsed accordion-button_menu" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMenu" aria-expanded="false" aria-controls="flush-collapseMenu">
							Servicios <i class="fas fa-chevron-down"></i>
							</button>
						</h2>
						<div id="flush-collapseMenu" class="accordion-collapse collapse" aria-labelledby="flush-headingMenu" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
							<a href="../views/turnos.html">
								<div class="option">
									<h3>
Turnos</h3>

								</div>
							</a>
							<a href="../views/resultados_online.html">
								<div class="option">
									<h3>
Resultados Online</h3>

								</div>
							</a>
							<a href="../views/extracciones_domicilio.html">
								<div class="option">
									<h3>
Extracciones a domicilio </h3>

								</div>
							</a>
							<a href="../views/autorizaciones_online.html">
								<div class="option">
									<h3>
Autorizaciones Online</h3>

								</div>
							</a>
							</div>
						</div>
					</div>
				</div>
				<a href="../views/obras_sociales.html">
					<div class="option">
						<h3>
Obras Sociales</h3>

					</div>
				</a>
				<a href="../views/indicaciones_previas.html">
					<div class="option">
						<h3>
Indicaciones Previas </h3>

					</div>
				</a>
				<a href="../views/contacto.html">
					<div class="option">
						<h3>
Contacto</h3>

					</div>
				</a>
			</div>
		</div>

		<!-- Imagen -->
		<div id="imagen" class="grid_imagen imagen__turnos webp
">
			<div class="imagen__flex">
				<div class="item__flex">
					<a href="#bajar1"><h2 class="imagen__titulo">Resultados<i class="fas fa-chevron-down"></i></h2></a>
				</div>
				<div class="imagen__iconDown">
					<a href="#bajar1"> <i class="fas fa-chevron-down"></i></a>
				</div>
				</div>
			</div>
		</div>

			
    <!------Seccion 1)------> 
		<div id="bajar1"  class="grid_seccion1">
			<div class="contenedor">
				<div class="titulo_h2">
					<h2>¡Solicitá tus resultados!</h2>
				</div>
				<div class="extracto">
				<p> Envíanos tus datos, con la información solicitada y a la brevedad le enviaremos sus estudios en forma digital y segura. 
				<br><br>
				<hr>
				<br> ¡Pronto vas a poder ver automaticamente tus estudios!</p>
				</div>
			</div>
		</div>
		   <!------Seccion 2)------> 
		<div class="grid_seccion2">
			<div class="contenedor">
				<form action="" id="formResultados" method="POST"	enctype="multipart/form-data" class="contenedor__formulario ">
					<div class="row">
						<div id="grupo__nombre" class="form-floating form-floating-sm mb-3 col-md-6">
							<input type="text" class="form-control form-control-sm" id="floatingInput" placeholder="nombre" name="nombre" required="">
							<label class="label__correcto-activo"  for="floatingInput">Nombre Completo *</label>
							<label class="label__error-off" for="floatingInput">Ingrese un Nombre correcto *</label>
						  </div>
						  <div id="grupo__apellido" class="form-floating mb-3 col-md-6">
							<input type="text" class="form-control " id="floatingInput" placeholder="apellido" name="apellido" required="">
							<label class="label__correcto-activo" for="floatingInput">Apellido *</label>
							<label class="label__error-off" for="floatingInput">Ingrese un Apellido correcto *</label>
						  </div>
						  <div id="grupo__dni" class="form-floating mb-3 col-md-6">
							<input type="number" class="form-control " id="floatingInput" placeholder="dni" name="dni" required="">
							<label class="label__correcto-activo" for="floatingInput">DNI *</label>
							<label class="label__error-off" for="floatingInput">Ingrese un DNI correcto, sin puntos *</label>
						  </div>
						  <div id="grupo__tel" class="form-floating mb-3 col-md-6">
							<input type="tel" class="form-control " id="floatingInput" placeholder="tel" name="tel" required="">
							<label class="label__correcto-activo" for="floatingInput">Teléfono *</label>
							<label class="label__error-off" for="floatingInput">Ingrese un Teléfono correcto, con su caracteristica *</label>
						  </div>
						  <div id="grupo__email"  class="form-floating mb-3 col-md-12">
							<input type="email" class="form-control " id="floatingInput" placeholder="email" name="email" required="">
							<label class="label__correcto-activo" for="floatingInput">e-mail *</label>
							<label class="label__error-off" for="floatingInput">Ingrese un email correcto *</label>
						  </div>

							<div class="seccion__form">
								<p>Quiero recibir mis resultados por:</p>
							</div>
							<div class="form-check">
								<input class="form-check-input --pointer" type="checkbox" id="checkemail" name="opcion[]"  value="email" />
								<label class="form-check-label --pointer" for="checkemail">
									E-mail
								</label>
							  </div>
							  <div class="form-check ">
								<input class="form-check-input --pointer" type="checkbox"  id="checkwhatsapp"  name="opcion[]" value="WhatsApp"  />
								<label class="form-check-label --pointer" for="checkwhatsapp">
									WhatsApp
								</label>
							  </div>
							  <div class="barra animate__animated animate__fadeInDown">
								<div class="barra_azul" id="barra_estado">
									<span></span>
								</div>
							</div>							
							<div class="mb-3">
								<input type="button" class="btn btn-outline-secondary textVerde input__boton" id="cancelar" value="cancelar">
								<button class="btn btn-outline-secondary textVerde input__boton" type="submit" id="submit">Solicar Resultados</button>
							  </div>
							  <div class="formulario__mensaje" id="formulario__mensaje">
								<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor completa el formulario correctamente. </p>
							</div>
						</div>
					</form>		
		</div>
        <!-- Donde estamos -->
		<div class="grid_seccion3 ">
			<div class="grid_dondeEstamos ">
				<div class=" contenedor contenedor__2">
					<div class="titulo_h2">
						<h2>¿Dónde nos podes encontrar?</h2>
					</div>
					   <div class="contacto_flex">    
							<div class="contacto_direccion">
								<h3>Av. Alem 794</h3>
								<hr>
								<p>Marcos Juárez</p>
							</div>
							<div class="contacto_direccion">
								<h3>Avellaneda 750</h3>
								<hr>
								<p>Gral. Roca</p>
							</div>
						</div>    
						<div class="contacto_iconos">
							<div class="contacto__iconos-boder">
							<a href="https://www.facebook.com/laboratorio.mj" target="_BLANK"><i class="fab fa-facebook"></i></a>
							</div>
							<div class="contacto__iconos-boder">
							<a href="https://www.instagram.com/laboratorio.mj/"target="_BLANK"> <i class="fab fa-instagram"></i></a>
							</div>
						   <div class="contacto__iconos-boder" >
							<a href="https://api.whatsapp.com/send?phone=5493472583305"target="_BLANK"><i class="fab fa-whatsapp"></i></a>
							</div>
						</div>
			
				</div>
			 </div>
			 <!-- Mapas -->
			 <div class="grid_mapa1 ">
				<div class="contenedor__mapa" data-aos="fade-up"
				data-aos-duration="1000">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.604619393057!2d-62.10382938102397!3d-32.68936047906735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c97f3e9bddaa0f%3A0x7f5e74f994046a69!2sLaboratorio%20Bottallo%20Olmos!5e0!3m2!1ses!2sar!4v1622386836367!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="mapa1" title="Av. Alem 794 | Marcos Juárez"></iframe>

				</div>
			</div>
			<div class="grid_mapa2 ">
				<div class="contenedor__mapa" data-aos="fade-up"
				data-aos-duration="1000">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3356.3262934705012!2d-61.91515258526155!3d-32.73052546830953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c985264507a49f%3A0x8c3d0544d48e187b!2sLaboratorio%20de%20An%C3%A1lisis%20Cl%C3%ADnicos!5e0!3m2!1ses-419!2sar!4v1625161859457!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" class="mapa2" title="Avellaneda 750 | General Roca"></iframe>    
       
				</div>
			</div>
			<!-- Footer -->
			<footer class="grid_footer ">
				<hr class="hr"> 
				<div class="pieDePagina">  
            <h3> © 2021 Laboratorio de Análisis Clínicos, todos los derechos reservados</h3>
            <hr class="hr__pieDePagina">
            <h3>Diseño y desarrollo <a class="ot" href="https://www.linkedin.com/in/octaviotrusendi/" target="_BLANK" >Octavio Trusendi</a> </h3>
					<div id="volverArriba" >
						<a href="#imagen"><i class="fas fa-chevron-down"></i></a>
					</div>
				</div>
			</footer>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
			<script src="../js/scrip.js"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
		
		<script>
		const formulario = document.getElementById('formResultados');
		const inputs = document.querySelectorAll('#formResultados input');

		const expresiones = {
			nombre: /^[a-zA-ZÀ-ÿ\s]{3,40}$/, // Letras y espacios, pueden llevar acentos.
			apellido: /^[a-zA-ZÀ-ÿ\s]{3,40}$/, // Letras y espacios, pueden llevar acentos.
			correo: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
			telefono: /^\d{7,14}$/, // 7 a 14 numeros.
			dni: /^\d{8,8}$/ // 7 a 14 numeros.

		}

		const campos = {
		nombre: false,
		apellido: false,
		dni: false,
		tel: false,
		email: false,
		}

		const validarFormulario = (e) => {
			switch (e.target.name) {
				case "nombre":
					validarCampo(expresiones.nombre, e.target, 'nombre')
				break;
				case "apellido":
					validarCampo(expresiones.apellido, e.target, 'apellido');
				break;
				case "dni":
					validarCampo(expresiones.dni, e.target, 'dni');
				break;
				case "tel":
					validarCampo(expresiones.telefono, e.target, 'tel');
					if(expresiones.telefono.test(e.target.value)){
						document.querySelector(`#grupo__tel input`).classList.remove('form-control-grande');
						document.querySelector(`#grupo__tel .label__error-off`).classList.remove('label__error-activoTel');
					}else{
						document.querySelector(`#grupo__tel input`).classList.add('form-control-grande');
						document.querySelector(`#grupo__tel .label__error-off`).classList.add('label__error-activoTel');
					};
				break;
				case "email":
					validarCampo(expresiones.correo, e.target, 'email');
				break;
				case "fecha":
					validarFecha(expresiones.fecha, e.target);
				break;
				case "hora":
					validarHorario(expresiones.hora, e.target);
				break;
			}
		}

		const validarCampo = (expresion, input, campo) => {
			if(expresion.test(input.value)){
				document.querySelector(`#grupo__${campo} input`).classList.remove('formulario__grupo-incorrecto');
				document.querySelector(`#grupo__${campo} input`).classList.remove('form-control-error');
				document.querySelector(`#grupo__${campo} .label__error-off`).classList.remove('label__error-activo');
				document.querySelector(`#grupo__${campo} .label__correcto-activo`).classList.remove('label__correcto-off');
				campos[campo] = true;
			}else{
				document.querySelector(`#grupo__${campo} input`).classList.add('formulario__grupo-incorrecto');
				document.querySelector(`#grupo__${campo} input`).classList.add('form-control-error');
				document.querySelector(`#grupo__${campo} .label__error-off`).classList.add('label__error-activo');
				document.querySelector(`#grupo__${campo} .label__correcto-activo`).classList.add('label__correcto-off');
				campos[campo] = false;
			}
		}

		inputs.forEach((input) => {
			input.addEventListener('keyup', validarFormulario);
			input.addEventListener('blur', validarFormulario);
		});

				document.addEventListener("DOMContentLoaded", () => {
				let form = document.getElementById('formResultados');

				
				form.addEventListener("submit", function(event){
					event.preventDefault();
					const checkWp = document.getElementById('checkwhatsapp');
					const checkEmail = document.getElementById('checkemail');
					if(campos.nombre && campos.apellido && campos.dni && campos.tel && campos.email && (checkEmail.checked || checkWp.checked)){
						subir_archivo(this);
						document.getElementById('submit').disabled=true;
						barra_estado.classList.remove('barra_verde', 'barra_roja');
						document.getElementById('formulario__mensaje').classList.remove('formulario__mensaje-activo');

					}else{
						document.getElementById('formulario__mensaje').classList.add('formulario__mensaje-activo');
					}
		
					});
				});
		
				function subir_archivo(form){
		
					let barra_estado = form.children[0].children[8].children[0],
					span = barra_estado.children[0],
					botom_cancelar = form.children[0].children[9].children[0],
					botom_enviar = form.children[0].children[9].children[1],
					progress = form.children[0].children[8];

					
		
						//peticion
						let peticion = new XMLHttpRequest();
		
						//progreso
						peticion.upload.addEventListener("progress", (event) => {
							let porcentaje = Math.round((event.loaded / event.total) * 100);
		
							console.log(porcentaje);
		
							progress.classList.add ('barra_show');
							barra_estado.style.width = porcentaje+'%';
							span.innerHTML=porcentaje+'%'+' | Por favor espere...';
						});
		
						//finalizado
						peticion.addEventListener("load", () =>{
							barra_estado.classList.add('barra_verde');
							formulario.reset();
							span.innerHTML = "Por favor espere...";
							window.location="https://laboratorio.net.ar/views/gracias_por_contactarnos.html";
		
		
						});
		
						//enviar datos
						peticion.open('post', 'resultados.php');
						peticion.send(new FormData(form));
		
						//cancelar
						botom_cancelar.addEventListener("click", () =>{
							peticion.abort();
							barra_estado.classList.remove('barra_verde');
							barra_estado.classList.add('barra_roja');
							span.innerHTML="Proceso cancelado";
							document.getElementById('submit').disabled=false;
		
						});
		
				}
			</script>

</body>
</html>
